    * {
        box-sizing: border-box;
    }
    
    body {
        color: #020181;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5em;
    }
    
    button,
    #clear {
        background: #fff;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 4px;
        color: #020181;
        font-family: 'Arvo', sans-serif;
        text-transform: uppercase;
    }
    
    button:hover, 
    input:hover {
        cursor: pointer;
    }
    
    .highlight {
        color: #FF1111;
        font-size: 1.5rem;
    }
    /*Header*/
    
    header {
        align-items: center;
        background-color: #020181;
        color: #fff;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    header h1 {
        font-family: 'Arvo', serif;
        margin: 0 0 20px;
        padding: 2rem 2rem 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    
    header img {
        width: 10%;
    }
    /*Main Display*/
    
    #top-message {
        border: 1px solid #020181;
        border-radius: 4px;
        margin: 0 auto 1rem;
        padding: 1rem;
        text-align: center;
        width: 30%;
    }
    /*Blindfold mode*/
    
    #incognito {
        margin: 1rem auto;
        padding: 0.5rem;
    }
    /*Overlay*/
    
    .overlay {
        width: 100%;
        height: 100%;
        color: #fff;
        background: #020181;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 1000;
        display: none;
    }
    
    .how {
        background-color: #ffff00;
        border: 1px solid #020181;
        border-radius: 4px;
        color: #020181;
        margin-right: 2rem;
        padding: 0.5rem;
        text-decoration: none;
    }
    
    .close {
        background-color: #fff;
        border: none;
        border-radius: 4px;
        padding: 0.5rem;
        text-decoration: none;
    }
    /*Setting flex*/
    
    .content {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
        text-align: center;
    }
    
    .content .guessHistory div {
        text-align: left;
        margin-left: 2rem;
    }
    
    .content .guessHistory {
        margin-top: -2rem;
    }
    
    .content .guessHistory,
    .content .players {
        width: 24%;
        height: 500px;
        overflow: auto;
    }
    
    .content .canvas {
        width: 50%
    }
    /*Setting canvas properties*/
    
    canvas {
        width: 100%;
        height: 500px;
        border: 10px #020181 solid;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
    }
    /*Modify buttons*/
    
    .isDrawing,
    .notDrawing {
        margin-top: 1rem;
    }
    
    .isDrawing {
        background-color: #00b700;
        color: #fff;
    }
    
    .notDrawing {
        border: 2px solid #020181;
    }
    
    #clearButton {
        width: 20%;
        margin: 1rem auto;
    }
    
    #clear {
        border: #020181;
    }